<header>
  <mat-toolbar color="primary">
    <button mat-button class="icon-button with blur_linear icon">
      <mat-icon>blur_linear</mat-icon> PotO Society
    </button>

    <span class="ps-flex-auto"></span>

    <!-- Notification -->
    <button mat-icon-button aria-label="icon-button with notification_none icon">
      <mat-icon matBadge="7" matBadgeColor="accent" matBadgeSize="small">
        notifications_none
      </mat-icon>
    </button>

    <!-- Chat -->
    <button mat-icon-button aria-label="icon-button with chat_bubble_outline icon">
      <mat-icon matBadge="7" matBadgeColor="accent" matBadgeSize="small">
        chat_bubble_outline
      </mat-icon>
    </button>

    <!-- Profile Menu -->
    <button mat-icon-button aria-label="icon-button with account_circle icon">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
</header>
