<header>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      aria-label="Example icon-button with menu icon"
      (click)="toggleDrawer()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>PotO Society</span>
    <span class="item-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  <div class="ps-w-full ps-h-1 ps-bg-yellow-300"></div>
  <div class="ps-w-full ps-h-1 ps-bg-white"></div>
  <div class="ps-w-full ps-h-1 ps-bg-red-800"></div>
</header>
